.head {
    background: #131133;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px, 0px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
    z-index: 1;
}


.head div {
    display: flex;
    align-items: center;
}

.head a {
    margin: 0 10px;
    text-decoration: none;
}

.logo {
    background-color: #94a1dc;
    margin-left: 10em;
}

.logo img {
    width: 5em;
}

.logo h4 {
    margin: 5px;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 500;
}

.menu {
    margin-right: 5em;
}

.menu span {
    color: #94a1dc;
    padding: 10px 30px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: .2s;
}

.menu span:hover {
    background-color: #94a1dc;
    color: #131133;
}

.btn {
    display: flex;
    flex-direction: row;
}

.btn button {
    margin: 0 10px;
    transition: .2s;
}

.btn button:nth-child(1) {
    background-color: transparent;
    color: #94a1dc;
}

.btn button:nth-child(2) {
    background-color: #94a1dc;
    color: #131133;
}

.btn button:nth-child(1):hover {
    background-color: #94a1dc;
    color: #131133;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    padding: 0 30px;
}

.btn button:nth-child(2):hover {
    background-color: transparent;
    color: #94a1dc;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    padding: 0 30px;
}

.label {
    display: none;
    left: 100%;
    color: #94a1dc;
}

#check {
    z-index: 3;
    display: none;
}

@media (max-width: 1200px) {

    .head div {
        margin: 0 40px;
    }

    .menu a{
        margin: 0 5px;
    }

    .menu span {
        padding: 12px 20px;
        font-size: 12px;
    }

    .logo img {
        width: 4em;
    }

    .logo h4 {
        letter-spacing: 3px;
        font-size: 16px;
        font-weight: 500;
    }

    .btn button {
        margin: 0 15px 0 0;
        font-size: 12px;
        text-align: center;
        height: 40px;
        width: 160px;
    }
}


/* Larger than desktop */
@media (max-width: 1000px) {
    .head a {
        margin: 0 5px;
    }

    .head .menu {
        margin: 0 18em 0 0;
    }

    .logo {
        margin-left: 6em;
    }
    
    .btn button {
        margin: 0 12px 0 0;
        font-size: 12px;
        text-align: center;
        height: 40px;
        width: 160px;
    }

}

/* Larger than tablet */
@media (max-width: 750px) {

    header .menu {
        display: none;
    }

    .head div {
        margin: 0 80px;
    }

    .menu span {
        padding: 15px 80px;
        font-size: 20px;
    }

    .logo img {
        width: 4em;
    }

    .logo h4 {
        letter-spacing: 4px;
        font-size: 18px;
        font-weight: 500;
    }

    .label {
        display: flex;
        z-index: 3;
        justify-content: center;
        width: 30%;
        font-size: 25px;
        cursor: pointer;
        transition: .3s;
        transition-property: color;
    }

    .label:hover {
        color: #fff;
    }

    .btn {
        flex-direction: column;
    }

    .btn button {
        margin: 20px 0;
    }

    .btn button {
        font-size: 18px;
        height: 60px;
        width: 300px;
    }

    #check:checked ~ header .menu {
        z-index: 2;
        position: fixed;
        background-color: rgba(81, 92, 129, .9);
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #check:checked ~ header .menu a {
        font-weight: 700;
        margin-right: 0;
        margin-bottom: 50px;
        letter-spacing: 2px;
    }

}

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 550px) {
    
    .head div {
        margin: 0 40px;
    }

    #check:checked ~ header .menu a {
        margin-bottom: 100px;
    }

    .menu span {
        padding: 25px 120px;
        font-size: 26px;
    }

    .logo img {
        width: 4em;
    }

    .logo h4 {
        letter-spacing: 3px;
        font-size: 20px;
    }

    .btn button {
        margin: 30px 0;
    }

    .btn button {
        font-size: 24px;
        height: 75px;
        width: 350px;
    }

    .label i{
        font-size: 30px;
    }
}


/* Larger than mobile */
@media (max-width: 400px) {

    .head div {
        margin: 0 30px;
    }

    #check:checked ~ header .menu a {
        margin-bottom: 60px;
    }

    .menu span {
        padding: 15px 70px;
        font-size: 20px;
    }

    .logo img {
        width: 3em;
    }

    .logo h4 {
        letter-spacing: 2px;
        font-size: 20px;
    }

    .btn button {
        margin: 20px 0;
    }

    .btn button {
        font-size: 22px;
        height: 60px;
        width: 250px;
    }

    .label i{
        font-size: 25px;
    }

}