.login {
    position: absolute;
    top: 50%;
    left: 80%;
    width: 420px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login .usuario {
    position: relative;
}

.login .usuario input {
    width: 100%;
    padding: 20px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login .usuario label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login .usuario input:focus~label,
.login .usuario input:invalid~label {
    top: -30px;
    left: 0;
    font-size: 12px;
    color: #026058;
}

.login form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #026058;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login a:hover {
    background: #026058;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #026058,
        0 0 15px #026058
}