.main-content-products{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-content-products{
    display: flex;
    flex-wrap: wrap;
}

.main-content-products div{
    display: flex;
    flex-flow: column;
    align-items: center;
    box-sizing: border-box;
}

.main-content-products .columns{
    margin-bottom: 10em;
    margin-top: 10em;
}

.product-card{
    display: flex;
    justify-content: space-between;
    margin: 4em 0;
    width: 30em;
    height: 40em;
    background-color: #94a1dc;
    border-radius: 20px;
    box-sizing: border-box;
}

.product-card h3{
    margin-top: 30px;
}

.product-card img{
    width: 100%;
    height: 100%;
    max-width: 380px;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 40px;
}

.product-card p{
    width: 400px;
    align-self: flex-start;
}

.product-card a{
    text-decoration: none;
    margin-bottom: 20px;
}

.product-card span{
    background-color: #94a1dc;
    color: #131133;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    padding: 8px 150px;
    transition: .3s;
}

.product-card span:hover{
    background-color: #131133;
    color: #94a1dc;
    font-weight: 600;
}

