body{
    margin: 0;
    font-family: cursive;
    height: 100vh;
} 
.section1{
    height: 100%;
    background-attachment: fixed;
}
.section:nth-child(1){
    background-image: url(C:\Users\BROOK\espacial\public\assets\logo.png);
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 15px; 
}
.Sobrenosotros-Text {
    color: rgb(73, 72, 72);
    margin-right: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 10px;
    right: 15px;
    left: 15px;
    font-family: cursive;
    font-weight: lighter;
    border-radius: 0 10px;
    background: transparent;
}

.subtitulo {
    font-family: cursive;
    font-size: 1.8em;
}