.slider{
    display: auto;
    height: auto;
    margin-top: 120px;
    margin-left: 30px;
    overflow:hidden;
    align-items: center;
    background-color: gainsboro;
    box-shadow: 20% 4%;
}
.slider:before{
    position: absolute;
    z-index: 1;
    left: 0;
    content: "";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(-90deg, hsla(0, 0%, 96.9%, 0));
}
.slider:after{
    position: absolute;
    right: 0;
    content: "";
    width: 30.958%;
    height: 200px;
    background: linear-gradient(
        90deg,
        hsla(0, 0%, 0%, 0)
        hsla(0, 0%, 100%, 0.99) 99%
    );
}
.slider .slider-Track{
    display: flex;
    animation: scroll 20s linear infinite;
    -webkit-animation: scroll 20s linear infinite;
    width:calc(240px * 10);
}
.slider .slide{
    display: flex;
}
.slider .slide img{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    margin: 15px;
    border-radius: 8px;
    box-shadow: rgba(26, 26, 214, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@keyframes scroll {
    0%{
        -webkit-transform: translateX(calc(-240px * 5));
        transform:translateX(0);
    }
    100%{
        -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }   
}