body{
    margin: 0;
    font-family: cursive;
    background: #7F7FD5; 
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 15px;
    
}
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
	max-width:1000px;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.head{
    width:100%;
    background: #2980B9;  
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    padding: 10px, 40px;
    padding-bottom: 7px;
    position:fixed;
	z-index: 100;
	top:0;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
    border-radius: 0 0 30%  30%;
}
.logo{
    display: flex;
    align-items: center;
    padding: 15px, 0px;
}
.logoName{
    font-size: 20px;
}

.logo-img{
   height: 70px;
   margin-right: 15px;

}
.logo:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

nav{
    padding-bottom: 15px;
}
nav a:hover{
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

@media(min-width:1000px){
    .head{
        flex-direction: row;
        padding: 0px, 0px;
        justify-content: space-between;
        
    }
}

.Sobrenosotros-Text{
    color: rgb(73, 72, 72);
    margin-right: 40px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
    top: 100px;
    right: 15px;
    left: 15px;
    font-family: cursive;
    font-weight:lighter;
    border-radius: 0 10px;
    background: transparent;
}

.subtitulo{
    font-family: cursive;
    font-size: 1.8em;
}